:root{
  --omargin:20px;
  --topmargin:minmax(80px, 1fr);
  --background:#F8F8F8;
  --highlight:#FCFFAD;
  --browseheight:calc(var(--vh, 1vh) * 100);
  --imgwidth:75vw;
  --halfwidth:calc((var(--imgwidth) - 10px)/2);
  --subhead-lh:2.7rem;
  --subhead-size:2rem;
  --head-lh:var(--subhead-lh);
  --ratio-height:100px;
  --nav-z:5;
  --squish-pos:var(--omargin);
  --pushdown:55px;
  --scroll-offset:100px;
  --concept-size:calc(calc(100% - 20px) / 3);
}
html{
  font-size:15px;
}
body{
    background-color:var(--background);
    position:relative;
    width:100vw;
  --outdent:2;
  --leftedge:2;
  --rightedge:14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* filter:url(#noise); */
}
body.squish{
  --outdent:2;
}
div{
  position:relative;
}
img{
  width:100%;
}


/* default typography------------------ */
h1{
  /* heading */
  font-size:var(--subhead-size);
  line-height:var(--head-lh);
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display:inline-block;
  grid-column:var(--outdent) / var(--rightedge);
  margin-bottom: 20px;
}


h2{
  /* subhead and navbar */
  font-size:var(--subhead-size);
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display:inline-block;
  line-height:var(--subhead-lh);
}



p{
  /* serif body text */
  font-family: nimbus-roman, serif;
  font-size:1.8rem;
  line-height:2.5rem;
  font-weight: 400;
  font-style: normal;
}
h4{
  /* captions */
  font-size:13px;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
span.inline-h4{
  font-size:13px;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}



#scrollcontent h2{
  grid-column:var(--leftedge) / var(--rightedge);
}

.reg-width{
  grid-column:var(--leftedge) / var(--rightedge);
}


#scrollcontent div>p:not(:first-of-type){
  text-indent: 50px;
}


#scrollcontent p:not(.newstext){
  grid-column:var(--leftedge) / var(--rightedge);
}


.sectionmarker{
  margin-bottom:10px;
}
.datemarker{
  grid-column:var(--leftedge) / var(--rightedge);
}
.newstext{
  grid-column:var(--leftedge) / var(--rightedge);
  margin-bottom:15px;
}

.newstext.opened{
  margin-bottom:0px;
}

.newstext.opened .news-title{
  display:none;
}
.newstext.opened .more-info{
  vertical-align: top;
}
.newstext.opened .more-info::before{
  padding-right: 0px;
}

.more-info{
  text-decoration-line: underline;
  display:inline;
  cursor:pointer;
}

.more-info::before{
  content: '';
  padding-right: 20px;
  display: inline-block;
}

.more-info::after{
  content:"Full post";
}

.newline-button{
  margin-top:15px;
}

.newline-button .more-info::before{
  padding-right: 0px;
}

.newline-button .more-info::after{
  content:"More information"
}

.newstext.opened .more-info::after{
  content:"Close";
}

.newline-button.opened .more-info::after{
  content:"Close";
}

.accordion{
  /* display:none; */
  height:0;
  overflow:hidden;
  margin-bottom:0px;
}
.accordion.expanded{
  margin-bottom:30px;
  height:auto;
}


#concepts-box{
  min-height:600px;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-bottom:50px;
}
.concept-wrapper{
  --rotate-amount:15deg;
  min-width: var(--concept-size);
  margin-bottom: 10px;
  overflow:hidden;
  cursor:pointer;
  transition: transform 0.3s;
  z-index:5;
  box-sizing: border-box;
  margin-right: 10px;
}
.concept-wrapper:nth-child(3n){
  margin-right: 0px;
}
.concept-wrapper h4{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.attachment-arena{
  border:1px solid black;
}

.concept-wrapper img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.concept-a-ratio{
  width:100%;
  padding-bottom:100%;
}


#cover{
  --list-offset:0px;
  margin-bottom:30px;
  grid-column:1 / 15;
  grid-row-start:2;
  overflow-x: scroll;
  overflow-y:hidden;
  scrollbar-width: none;
  transition:padding-bottom 0.3s, opacity 0.15s;
}

#cover.list{
  --list-offset:var(--imgwidth);
}

#cover::-webkit-scrollbar{
  display:none;
}

#sizereference{
  grid-column:2 / 14;
}

.bodycontent{
  transition:opacity 0.15s;
}

/* default page structure ----------*/

.page-grid{
  display:grid;
  grid-gap:10px;
  grid-template-columns:var(--omargin) repeat(12, minmax(0, 1fr)) var(--omargin);
  grid-template-rows:var(--topmargin) minmax(0, 1fr) 10px;
}

#fixedcontent{
  pointer-events: none;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:var(--browseheight);
  z-index: var(--nav-z);
}

#scrollcontent{
  pointer-events: none;
  position:relative;
  z-index: 10;
  grid-template-rows:1fr;
  display:grid;
  grid-gap:10px;
  grid-template-columns:var(--omargin) repeat(12, minmax(0, 1fr)) var(--omargin);
  grid-template-rows:var(--topmargin) repeat(12,minmax(min-content, max-content));
  /* height:200vh; */
}
#scrollcontent > * {
  pointer-events: all;
}

#nav-dropdown{
  grid-row:1;
  height:81px;
  grid-column:var(--leftedge) / var(--rightedge);
  overflow-x: hidden;
  overflow-y: hidden;
  transition:height 0.3s;
}
#dropper{
  position:absolute;
  height:80px;
  /* width:65px; */
  top:2px;
  right:3px;
  transform-origin:100% 100%;
  transform:rotate(33deg);
  cursor:pointer;
}
#dropper h2{
  position:absolute;
  bottom:-8px;
  right:15px;
}
#dropper svg{
  position:absolute;
  right:0px;
  bottom:0px;
}

.dot{
  fill:black;
  height:7px;
  width:7px;
}

#sectionlinks{
  position:absolute;
  top:95px;
  right:0px;
  width:100%;
  display:flex;
  align-items: flex-end;
  flex-flow:column nowrap;
}
.h-sectlink{
  height:35px;
  width:100px;
  cursor:pointer;
}
.h-sectlink .dot{
  position:absolute;
  right:0;
  top:12px;
}
.h-sectlink h2{
  position:absolute;
  right:15px;
  transition:right 0.3s;
}



/* 9px dots */

#horizontal-nav{
  grid-row-start:1;
  grid-column:var(--leftedge) / var(--rightedge);
}
.sunsvg{
  pointer-events: none;
  position:absolute;
  width:147px;
  left:-55px;
}
#sunbox-h{
  height:40px;
  position:absolute;
  top:0;
  left:0;
}
#sunbox-h .sunsvg{
  top:-25px;
  left:-35px;
  transform:rotate(30deg);
}
#sunbox-h .sun{
  fill:var(--highlight);
}

#sunbox-h .sunsvg .dotgroup{
  opacity:1;
}

#sunbox-v{
  height:40px;
}
#sunbox-v .sunsvg{
  top:-56px;
  transform:rotate(20deg);
  transition:transform 1s;
}
#sunbox-v .sunsvg .dotgroup{
  opacity:1;
}
.viewing .sun{
  fill:var(--highlight);
}


#vertical-nav{
  display:none;
}



/* svg rules --------------*/
.svgframe{
  fill:none;
}
.sun{
  transition:fill 0.4s;
  fill:var(--background);
  stroke:black;
  stroke-width:1px;
}
.sunsvg .dotgroup{
  opacity:0;
}
.separator{
  margin-top:40px;
  margin-bottom:40px;
  grid-column:var(--outdent) / var(--rightedge);
  height:30px;
}
.separator svg{
  fill:none;
  stroke:black;
  stroke-width:1px;
  height:100%;
  width:100%;
}


/* gallery settings------------- */
#visible-gallery{
  display:flex;
}



#homemarker{
  position:absolute;
  top:var(--scroll-offset);
  height:1px;
  pointer-events: none;
  width:100%;
}

#project-list{
  position:absolute;
  width:var(--imgwidth);
  top:0;
  left:calc(100% - var(--imgwidth) - var(--omargin) - 10px);
  padding-top:50px;
  opacity:0;
  transition:opacity 0.3s;
  /* transition-property: opacity, width;
  transition-delay: 0s, 0.3s;
  transition-duration:0.3s,0.1s; */

}

#cover.project #project-list{
  top:var(--pushdown);
  left:var(--squish-pos);
}

#cover.list #project-list{
  opacity:1;
  z-index: 20;
}

#project-list h2{
  display:block;
  transition:padding-left 0.3s;
  cursor:pointer;
}

#project-list h2:hover{
  padding-left:20px;
}


.gallery{
  position:relative;
  width:calc(var(--imgwidth) + var(--omargin) + 10px);
  left:calc(100% - var(--imgwidth) - var(--omargin) - 10px);
  display:none;
  flex-flow: row nowrap;
  overflow:visible;
  padding-left:var(--list-offset);
  transition: padding-left 0.6s;
}

.gallery:not(.selected) .imgwrapper{
  cursor:pointer;
}
#cover.list .gallery:not(.selected) .imgwrapper{
  cursor:w-resize;
}

.gallery.selected{
  top:var(--pushdown);
  left:var(--squish-pos);
  margin-bottom:var(--pushdown);
  animation-name:project-trans;
  animation-duration: 0.3s;
}

.temporary-animation{
  animation-name:back-home;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes project-trans{
  from {
    top:0;
    left:calc(100% - var(--imgwidth) - var(--omargin) - 10px);
  }

  to {
    top:var(--pushdown);
    left:var(--squish-pos);
  }
}

@keyframes back-home{
  from {
    top:var(--pushdown);
    left:var(--squish-pos);
  }

  to {
    top:0;
    left:calc(100% - var(--imgwidth) - var(--omargin) - 10px);
  }
}




.slide-cap{
  display:none;
  opacity:0;
}

.gallery.selected .slide-cap{
  display:inline;
  animation-name:opacity-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.gallery.selected .proj-cap{
  display:none;
}

.gallery.selected .cardgroup:not(.preview-image){
  display:block;
  animation-name:opacity-in;
  animation-duration: 0.2s;
  animation-delay:0.3s;
  animation-fill-mode: forwards;
}
.gallery.selected > div:last-of-type{
  padding-right: calc(var(--omargin) + 10px);
}

@keyframes opacity-in{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}





.preview-image{
  min-width:var(--imgwidth);
}

.preview-image .imgwrapper img{
  position:absolute;
  top:0;
}

.aspect-ratio{
  display:block;
  padding-bottom:60%;
}

.cardgroup:not(.preview-image){
  height:auto;
  margin-left: 10px;
  display:none;
  opacity:0;
}
.cardgroup:not(.preview-image) .imgwrapper{
  height:var(--ratio-height);
}

.imgwrapper{
  position:relative;
  margin-bottom: 10px;
  overflow:hidden;
}

.img-vert-fit{
  width:auto;
  height:100%;
}
.img-hor-fit{
  width:100%;
  height:auto;
}


@media(min-width:700px){
  /* media rules for all large screens ----------*/
  :root{
    --head-lh:3.8rem;
    --omargin:40px;
    --topmargin:20px;
  }
  body{
    --outdent:4;
    --leftedge:4;
    --rightedge:13;
  }
  body.squish{
    --outdent:4;
  }

  h1{
    /* heading */
    font-size:4rem;
  }

  span.inline-h4{
    font-size:15px;
  }

  h4{
    font-size:15px;
  }
  /* the vertical navbar-------------- */
  #vertical-nav{
    display:block;
    pointer-events: all;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  #horizontal-nav{
    display:none;
  }
  #nav-dropdown{
    display:none;
  }
  #navwrap{
    position:absolute;
    top:50px;
    min-height:calc(100% - 50px);
    max-height:calc(100% - 50px);
    display:inline-flex;
    flex-flow: column wrap;
    justify-content:space-between;
  }
  .section-link{
    width:40px;
    margin-right:10px;
  }
  .section-link h2{
    line-height:unset;
    transform-origin: 0 100%;
    transform:rotate(-90deg);
    transition:transform 0.5s,padding 0.5s;
    transition-delay:0.1s;
    position:absolute;
    padding-left: 40px;
    padding-right:10px;
    bottom:0px;
    left:30px;
    box-sizing: border-box;
  }

  /* the cover area --------------  */
  #cover{
    margin-bottom:30px;
    grid-column:1 / 15;
    grid-row-start:2;
  }
  #sizereference{
    grid-column:4 / 14;
  }

  /* scrollable area ----------------- */

  .separator{
    height:50px;
  }


  /* vert navbar svg styling---------------- */

  .section-link .sunsvg{
    bottom:-56px;
  }
}

@media(min-width:1200px){
  #cover.list{
    --list-offset:var(--halfwidth);
  }
  #project-list{
    width:var(--halfwidth);
  }
}


@media(min-width:900px){
  body{
    --outdent:3;
  }
}

@media(min-width:800px){
  :root{
    --scroll-offset:300px;
  }
}


/* cover mode */
@media (min-aspect-ratio: 11/8) and (min-width:700px){
  .imgwrapper .preview-image img{
    position:relative;
  }
  .aspect-ratio{
    display:none;
  }
  #cover{
    padding-bottom: 0px;
    margin-bottom:0px;
    height:calc(var(--browseheight) - var(--head-lh) - var(--topmargin) - 50px);
  }
  #cover.project{
    padding-bottom: 50px;
  }

  .gallery{
    height:100%;
  }
  .gallery .imgwrapper{
    overflow:hidden;
    height:calc(100% - 50px) !important;
  }

  .cardgroup{
    height:100%;
  }
  .cardgroup:not(.preview-image){
    height:100%;
  }
  .cardgroup:not(.preview-image) .imgwrapper{
    height:auto;
  }

}

@media(min-width:1000px){
  .datemarker{
    margin-top:5px;
    grid-column:var(--leftedge) / calc(var(--leftedge) + 2);
  }
  .newstext{
    grid-column: calc(var(--leftedge) + 2) / var(--rightedge);
  }
  .newstext.opened .more-info{
    line-height: 1.7rem;
  }
  .accordion.expanded{
    margin-bottom:15px;
    height:auto;
  }
}

@media(max-width:700px){
  :root{
    --subhead-size:1.4rem;
    --subhead-lh:1.9rem;
    --pushdown:40px;
  }
  p{
    font-size:1.3rem;
    line-height: 1.8rem;
  }
  #fixedcontent{
    z-index: 15;
  }

  .gallery.selected{
    left: calc(var(--omargin) + 10px);
  }
}

@media (max-width:600px){
  #sunbox-h .sunsvg{
    left:-40px;
  }
  .separator{
    height:20px;
  }

}

@media(max-width:1100px){
  :root{
    --concept-size:calc(calc(100% - 10px) / 2);
  }
  #concepts-box{
    justify-content: flex-start;
  }

  .concept-wrapper:nth-child(2n){
    margin-right:0px !important;
  }
  .concept-wrapper:nth-child(3n){
    margin-right: auto;
  }
}


@media(max-width:1100px) and (min-width:700px){

  body{
    --leftedge:4;
    --rightedge:14;
  }

}
@media(min-width:1300px){
  body{
    --leftedge:4;
    --rightedge:12;
  }

}
/* hover effects------------------ */
@media(hover:hover){
  .h-sectlink:hover h2{
    right:30px;
  }

  .concept-wrapper:hover{
    transform:rotate(var(--rotate-amount)) translate(0px,-20px);
    z-index:10;
  }

  #navwrap div:hover{
    cursor:pointer;
  }

  .nosquish .section-link:hover h2{
    transition-delay:0s;
    transform:rotate(-60deg);
    padding-left: 30px;
  }
  #navwrap div:hover .sun{
    fill:var(--highlight);
  }
  #sunbox-v:hover{
    cursor:pointer;
  }
  #sunbox-v:hover .sun{
    fill:var(--highlight);
  }

}

@media(max-height:500px){
  :root{
    --browseheight:500px;
  }
}
